.app__footeroverlay{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.app__footeroverlay-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 6rem;
}

.app__footoverlay-group {
    text-align: center;
}

.app__footoverlay-group h4{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #F5EFDB;
    padding-bottom: 1rem;
}

.app__footoverlay-group h1{
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-golden);
    padding-bottom: 1rem;
}

.app__footoverlay-group p{
    padding-bottom: 0.5rem;
}

.app__footoverlay-group img{
    padding-top: 1rem;
}

.app__footoverlay-group_p{
    max-width: 400px;
}